.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 610px;
  background: rgba(0, 0, 0, 0.4);
}

.menu {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}

.menu-button {
  padding: 10px;
  margin: 5px;
  border: 1px solid rgb(107, 107, 107);
  border-radius: 2px;
  cursor: pointer;
  width: 120px;
  background: rgb(148, 148, 148);
}

.menu-button:hover,
.menu-button:active {
  color: #fff;
  background: rgb(110, 110, 110);
}

.group {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}

.group.loading {
  opacity: 0.5;
  pointer-events: none;
}

.group .group-title {
  width: 100%;
}

.group .group-options {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
